# Node.js (for backend and frontend both if it's React)
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS/Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/

# Build folders
/dist
/build
/public/assets

# Dependency directories (frontend and backend)
frontend/node_modules/
backend/node_modules/

# Cache files
.cache/
.next/

# Environment files
backend/.env


